*{
    margin: 0px;
    padding: 0px;
    background-color: cornflowerblue;
}
h1,h2{
    text-align: center;
    margin-top: 30px;
}
table{
    background-color: rgb(9, 145, 179);
    padding: 20px;
    margin: 5px;
    width: 50%;
    height: 60vh;
    border-radius: 30px;
    box-shadow: 10px 10px 10px 5px black;
    margin: auto 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
input[type=text]{
    min-width:93%;
    height: 50px;
    margin: 4px;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 12px;
    font-size: 23px;
    resize: none;
    background-color: white;
}
input[type=text]:focus{
    outline: none;
}
input[type=text]{
    padding-left: 1em;
 }
input[type=button]{
    width: 9%;
    height: 8vh;
    margin: 4px;
    font-size: 16px;
    border-radius: 20px;
    margin-left: 13px;
    border:none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkcyan;
    font-weight: bold;
    box-shadow: 4px 4px 4px black;
    background-color: white;
}